<h1>Hello World</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Platform(s)</th>
            <th>Developer</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.title }}</td>
                <td>{{ game.genres }}</td>
                <td>{{ game.platforms }}</td>
                <td>{{ game.developer }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>