{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre(s)</th>
                <th>Platform(s)</th>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td><a class="article-title" href="#">{{ game.title }}</a></td>
                    <td>{{ game.genres }}</td>
                    <td>{{ game.platforms }}</td>
                    <td>{{ game.developer }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}